# Google Cloud Configuration
GCP_PROJECT_NUMBER=your-project-number
GCP_PROJECT_ID=your-project-id
GCP_REGION=europe-west1
CLOUD_RUN_SERVICE=healthfit

# GitHub Actions secrets
GCP_WORKLOAD_IDENTITY_PROVIDER=projects/123456789/locations/global/workloadIdentityPools/github/providers/github
GCP_SERVICE_ACCOUNT=github-deployer@your-project-id.iam.gserviceaccount.com
